body {
    height:200vh;
    
}
.bg-danger {
    background-color:#d63447!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin-right: 50px;
    margin-left: 50px;
}
header {
    width: 100%;
    height:500px;
    background-color: rgb(37, 36, 41);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


footer {
    width: 100%;
}
div.container-fluid div.row div#place ul li {
  list-style: none;
}
div.container-fluid div.row div#place {
   padding: 0;
    height: auto;
}
div.container-fluid div.row div#map {
    padding: 0;
    height: auto;
}
div.container-fluid div.row div#map iframe{
  width: 100%;
  margin:0;
}





.fa-pizza-slice:before {
    transform: rotate(45deg);
    margin-right: 10px;
}
